.subtitle-1.active1 {
    background-color: #f5dccb ; /* couleur de fond des boutons actifs */
    z-index: 10;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border-radius: 15px;
}

.subtitle-1.active1:hover {
    box-shadow: none;

}

.content-item {
    display: none;
}

.content-item.active1 {
    display: block;
    background-color: #faf3ed ; /* couleur de fond des boutons actifs */
    z-index: 10;
}



.buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.subtitle-1 {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    line-height: 1.2;
    color: #df6a37;
    text-align: center;
    border: none;           /* Ajout pour enlever la bordure */
    outline: none;          /* Ajout pour enlever la bordure lors du focus */
    background-color: transparent;
}

@media (max-width: 1240px) {
    .buttons {
        flex-direction: column; /* Modifie la direction principale du flexbox de row (par défaut) à column */
    }

    .subtitle-1 {
        margin-bottom: 10px; /* Ajoute une marge en bas pour espacer les boutons empilés */
    }
}
