.subtitle2.active {
    background-color: #f5dccb ; /* couleur de fond des boutons actifs */
    z-index: 10;
}

.content-item2 {
    display: none;
}

.content-item2.active {
    display: block;
    background-color: #faf3ed ; /* couleur de fond des boutons actifs */
    z-index: 10;
}

.buttons2 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.subtitle2 {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    line-height: 1.2;
    color: #df6a37;
    text-align: center;
    border: none;           /* Ajout pour enlever la bordure */
    outline: none;          /* Ajout pour enlever la bordure lors du focus */
    background-color: transparent;
}

@media (max-width: 1240px) {
    .buttons2 {
        flex-direction: column; /* Modifie la direction principale du flexbox de row (par défaut) à column */
    }

    .subtitle2 {
        margin-bottom: 10px; /* Ajoute une marge en bas pour espacer les boutons empilés */
    }
}
