.containerX {
   width: 80%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   display: flex;          /* Ajouté pour le centrage avec Flexbox */
   align-items: center;    /* Centrage vertical du contenu avec Flexbox */
   justify-content: center;/* Centrage horizontal du contenu avec Flexbox */
}

