.bottom-end {
    position: relative;
    background-color: #bea797;
    height: 500px;
    width: 100%;
}

.wave-bottom3 {
    position: relative;
    top: -10px;
    transform: scaleY(-1) scaleX(-1);
}

/* Pied de page */
footer {
    background-color: #bea797;
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 150px;
    display: block;
    margin: 20px auto;
}
