header {
    background-color: transparent;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 75%;
}

.video-header2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.65;
}

.video-header2 .header-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;
}

.header-logo img {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Pour s'assurer que l'image conserve ses proportions */
}


.wave.wave-bottom {
    position: absolute;
    bottom: -5px;
    width: 100%; /* Ajoutez cette propriété pour garantir que la vague s'étend sur toute la largeur du header */

}

.wave-top {
  background-color: #faf3ed;
}

/* .wave-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
} */
