.citation {
    margin-bottom: 0px; 
    margin-top: 0px;
    z-index: 2;
}



.wave-background {
    position: relative;
    z-index: 1;
    display: flex;          /* Ajouté pour le centrage avec Flexbox */
    align-items: center;    /* Centrage vertical du contenu avec Flexbox */
    justify-content: center;
   

}


#svgBG {
    overflow: visible;
    z-index: 3;
}