.header-navbar {
    display: flex;
    justify-content: center;
    width: 50%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    min-width: 555px;
}

.header-navbar > button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    transition: font-size 0.3s ease, transform 0.5s ease, opacity 0.5s ease;
    color: #df6a37;
    z-index: 1;
    text-align: center;
}

.header-navbar > button:hover {
    transform: scale(1.2);
}

.header-navbar > button.disperse {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(8px);
}

#section0 {
    opacity: 1;
    z-index: 11;
}

#section0 img {
    width: 50px;
    height: auto;
}

@media (max-width: 768px) {
    .header-navbar {
        flex-wrap: wrap;
        align-items: flex-start; /* Alignement au début pour le bouton logo */
        justify-content: space-between; /* Espacement entre les boutons */
    }

    .header-navbar > button:nth-child(1),
    .header-navbar > button:nth-child(2),
    .header-navbar > button:nth-child(3) {
        order: 1; /* Boutons à gauche du bouton logo */
    }

    .header-navbar > button#section0 {
        order: 0; /* Place le bouton logo en haut */
        width: 100%; /* Assurez-vous que la largeur est de 100% pour l'alignement */
        align-self: flex-start; /* Alignement auto en haut */
    }

    .header-navbar > button:nth-child(5),
    .header-navbar > button:nth-child(6),
    .header-navbar > button:nth-child(7) {
        order: 2; /* Boutons à droite du bouton logo */
    }
}

@media (max-width: 553px) {
    .header-navbar {
        overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
    }
    /* Autres styles pour ajuster les boutons ou le contenu si nécessaire */
}
