
.section-container section 
{margin-bottom: 0px;}
img {max-width: 100%;}

.empty-section1 {height: 100vh;background-color: #bea797;}

.empty-section2 {height: 100vh;background-color: #faf3ed;}

.empty-section3 {height: 100vh;background-color: #bea797;}

.empty-section4 {height: 100vh;background-color: #faf3ed;}

.empty-section5 {height: 100vh;background-color: #bea797;}

.empty-section6 {height: 100vh;background-color: #faf3ed;}
